<nav class="navbar fixed-top navbar-toggleable-sm navbar-inverse bg-inverse">
    <router-link class="navbar-brand" to="/">
      <img alt="Brand" src="~assets/images/logo.png" height="20">
    </router-link>
  <ul class="navbar-nav">
    <router-link class="nav-item" tag="li" to="/" v-if="isLoggedIn" exact>
      <a class="nav-link"><i class="fa fa-home"></i> Home</a>
    </router-link>
    <router-link class="nav-item" tag="li" to="/posts" v-if="isLoggedIn" exact>
      <a class="nav-link"><i class="fa fa-file-text-o"></i> Posts</a>
    </router-link>
    <router-link class="nav-item" tag="li" to="/posts/create" v-if="isLoggedIn" exact>
      <a class="nav-link"><i class="fa fa-pencil"></i> Create post</a>
    </router-link>
    <router-link class="nav-item" to="/login" v-if="!isLoggedIn"><i class="fa fa-sign-in"></i>로그인</router-link>
    <a href="#" class="nav-link" v-if="isLoggedIn" @click="logout" exact><i class="fa fa-sign-out"></i>로그아웃</a>
  </ul>
</nav>
