<form @submit.prevent="login()" v-if="!formSubmitted">
  <div class="form-group" :class="{'has-error': errors.has('email') }">
    <label class="label" for="email">Email</label>
    <input name="email" v-validate="'required|email'" class="form-control" type="text" placeholder="email" v-model="email">
    <p class="text-danger" v-if="errors.has('email')">{{ errors.first('email') }}</p>
  </div>
  <div class="form-group" :class="{'has-error': errors.has('password') }">
    <label class="label" for="password">Password</label>
    <input name="password" v-validate="'required'" class="form-control" type="password" placeholder="password" v-model="password">
    <p class="text-danger" v-if="errors.has('password')">{{ errors.first('password') }}</p>
  </div>
  <button type="submit">로그인</button>
</form>
